    <footer>
        <div class="container text-muted text-center">
            <ul class="list-inline social-buttons">
                <li>
                    <a
                        href="https://www.facebook.com/Paddy-Boyle-Photography-103237218049564/?modal=admin_todo_tour"
                        target="_blank">
                        <i class="fa fa-facebook sr-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/paddyboylephotography/" target="_blank">
                        <i class="fa fa-instagram sr-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/pboylephotography/" target="_blank">
                        <i class="fa fa-linkedin sr-icons"></i>
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="footer-number">
                    <i class="fa fa-phone sr-icons"></i>
                    07963110227
                </li>

                <li>
                    <i class="fa fa-envelope sr-icons"></i>
                    <a href="mailto:paddyboyle58@gmail.com" target="_blank" class="email">
                        paddyboyle58@gmail.com</a>
                </li>
            </ul>
            <!-- <p>Personal Work: <a
            href="http//:www.pboylephotos.com">www.pboylephotos.com</a></p> -->
            <p>Paddy Boyle | Photography &copy; 2020</p>
        </div>
    </footer>