<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paddy Boyle | Photos</title>
    <meta name="paddy boyle photography" content="portrait photography, landscape photography, still life photography, prosiac photography, photography, paddy boyle, boyle, paddy">
    <!-- reset css -->
    <link rel="stylesheet" type="text/css" href="reset.css">
    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="styles.css">
    <!-- Magnific-popup css -->
    <link rel="stylesheet" href="magnific-popup.css">
    <!-- Font Awesome icons -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon(Red).png">
    <!-- EmailJS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_KZZz5GUr7LB1TlhkKGwj9");
        })();
    </script>
</head>
<body id="page-top">

    <!---- main view ---->
    {{{ body }}}

    <!---- Footer partial --->
    {{> footer}}

    <!-- Scripts -->
    <!-- Handlebars -->
    <script src="handlebars.min-v4.7.6.js"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="jquery.min.js"></script>
    <!-- Bootstrap core Javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="jquery.easing.min.js"></script>
    <script src="jquery.magnific-popup.min.js"></script>
    <script src="scrollreveal.min.js"></script>
    <script src="fractal.js"></script>
    <!-- Carousel -->
    <script src="carousel.js"></script>
    <!-- Lightbox galleries category one -->
    <script src="cat1-show1.js"></script>
    <script src="cat1-show2.js"></script>
    <script src="cat1-show3.js"></script>
    <script src="cat1-show4.js"></script>
    <script src="cat1-show5.js"></script>
    <script src="cat1-show6.js"></script>
    <script src="cat1-show7.js"></script>
    <script src="cat1-show8.js"></script>
    <script src="cat1-show9.js"></script>
    <!-- Main -->
    <script src="script.js"></script>
    <!-- Contact Form JavaScript -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_KZZz5GUr7LB1TlhkKGwj9");
        })();
    </script>
    <script src="contact_me.js"></script>
    <script src="email.js"></script>

</body>
</html>