<!-- Navigation Bar -->
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand page-scroll brand-position" href="/">
                        <a href="/"><img class="logo" src="Favicon2.jpg"></a>
                        <h1 class="brand">Paddy Boyle |
                            <span class="brand-light-font">Photos</span></h1>
                    </div>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="lien">
                            <a href="/">
                                <i class="fa fa-home sr-icons icon"></i>Home</a>
                        </li>
                        <li class="active lien">
                            <a href="/about">
                                <i class="fa fa-bookmark sr-icons icon"></i>
                                About</a>
                        </li>
                        <li class=" lien">
                            <a href="/contact">
                                <i class="fa fa-phone-square sr-icons icon"></i>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- End of Navigation Bar -->
        
                <div id="about">
            <div id="index-body">
                <div class="home-page">
                    <!-- Header -->

                    <!-- End of header -->

                    <!-- Container Box -->
                    <div class="container">
                        <div class="row text-center">
                            <h1 class="about-main-heading">
                                <strong>About</strong>
                            </h1>
                            <hr><br><br>
                            <div class="col-xs-12 col-sm-6">
                                <div class="box-about">

                                    <h2 class="text-left text-muted about-sub">
                                        <strong>Intro</strong>
                                    </h2>
                                    <p class="text-left text-muted ">Hi, welcome to my website which showcases images that are personal to me. To find my commercial work visit: <a href="http://www.pboylephotography.co.uk">www.pboylephotography.co.uk</a>
                                         
                                        <div class="contoainer-fluid-img">
                                            <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                <figure class="paddy">
                                                    <img src="001Tx.jpg" class="paddy">
                                                </figure>
                                            </div>
                                        </div>
                                        <p class="text-muted ">Most of these images here were taken for my own pleasure with only a few taken for profit. The earliest go back about 40 years right up to the present. They are all images that I like for various reasons.
                                        <br><br>
                                        I decided to keep the site simple to navigate, dividing it into the 3 categories; <a href="cat-1.html">People</a>, <a href="cat-2.html">Places</a> , and <a href="cat-3.html">Things</a> sub-dividing each of these into 3 groups. They represent a diverse selection having no overriding theme or thread.
                                        </p>
                                        <h3 class="text-left text-muted about-sub-2">People</h3>
                                        <p class="text-left text-muted">With this group, my photography tends to be quite formal in my approach.    Mostly I like to place my subjects within a context that relates to them specifically, that complements, enhances, or, conversely, in some cases undermines their identity or individuality. 
                                            <br><br>
                                            ‘The Archive’ subgroup was taken from the era of film photography, a much less forgiving medium than the present digital technology but they do illustrate this technique. Particularly so is ‘Machinist, Hastings’ where the individual is practically enclosed by his machine to the point where his persona is minimized.
                                            <div class="contoainer-fluid-img">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <figure class="machinist">
                                                        <img src="002Tx.jpg" class="machinist">
                                                    </figure>
                                                </div>
                                            </div>
                                            <p class="text-left text-muted">‘The Formal’ subgroup are more recent images, mostly of artists, musicians, and friends. They are usually light in character and sometimes with a slight humorous bias.
                                            </p>
                                            <div class="contoainer-fluid-img">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <figure class="machinist">
                                                            <img src="003Tx.jpg" class="machinist">
                                                        </figure>
                                                    </div>
                                                </div>
                                            <p class="text-left text-muted">I do not seek the doleful or melancholic, at least not deliberately. Although images of a bored ‘Jed’ or an introspective ‘Dave’ do surface.</p>
                                            <div class="contoainer-fluid-img">
                                                <div class="row">
                                                    <div class=" col-sm-6 col-md-6 col-lg-6">
                                                        <figure class="jed">
                                                            <img src="004Tx.jpg" class="jed">
                                                        </figure>
                                                    </div>
                                                    <div class=" col-sm-6 col-md-6 col-lg-6">
                                                        <figure class="dave">
                                                            <img src="005Tx.jpg" class="dave">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                                <p class="text-left text-muted">‘The Risible’ subgroup is a completely different kettle-of-fish. The images were mostly created for charity calendars for ‘The Lord Nelson’ pub in Hastings using the clientele as models and are just playful. 
                                                    <div class="contoainer-fluid-img">
                                                        <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                            <figure class="nelson">
                                                                <img src="006Tx.jpg" class="nelson">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <p class="text-left text-muted">Inspired from paintings, films, or my fanciful imagination they take a light-hearted view of religion, art, and life. Photographically they are flawed in digital mastery and execution but when working in a pub with slightly tipsy unruly models it’s like trying to control a bucket of frogs but great fun nonetheless.</p>

                                                    <h3 class="text-left text-muted about-sub-2">Places</h3>

                                                    <p class="text-left text-muted">‘Poetic’ Places are just that. Sometimes the beauty of a landscape cries out to be painted or photographed. But I am ever mindful that the true beauty lies in your perception of the scene and not in its reproduction which can only ever be an interpretation. With all the tools available in digital photography it’s all too easy to over-elaborate, manipulate, and idealize the image. But this is not necessarily a negative objective if that is the intention and after all in the ‘Poetic Landscape’ drama and some exaggerations do play a part in creating the picturesque.</p>

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="box-about">
                                                        <p class="text-left text-muted">The use of the seagull, real and not a digital manipulation, in both ‘The Stade’ images was deliberate to heighten the drama of the seascape.</p>
                                                        <div class="contoainer-fluid-img">
                                                                <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                                    <figure class="nelson">
                                                                            <img src="007Tx.jpg" class="nelson">
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                    <p class="text-left text-muted">‘Prosaic’ Places, on the other hand, are all about the un-interesting, the un-heeded, and the over-looked. For me, they show the environment that we have created almost accidentally. They are not particularly appealing but then they are not meant to be. They have a documentary bias but one that is coloured by my perspectives on the built environment. They could be called ‘Photographs of Nowhere’ like the bus-shelter with the poster of the headless man.</p>
                                                    <div class="contoainer-fluid-img">
                                                        <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                            <figure class="stade">
                                                                <img src="008Tx.jpg" class="stade">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <p class="text-left text-muted">‘Peculiar’ Places have a surreal quality about them that I just find intriguing. Hopefully, the images possess a pictorial narrative that the viewer finds visually engaging. An image like the tall white concrete structure has an enigmatic, mysterious, and disquieting quality that suggests an almost dystopian sci-fi inference.</p>
                                                    <div class="contoainer-fluid-img">
                                                        <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                            <figure class="bus-stop">
                                                                <img src="009Tx.jpg" class="bus-stop">
                                                            </figure>
                                                        </div>
                                                    </div>


                                                    <h3 class="text-left text-muted about-sub-2">Things</h3>
                                                    <p class="text-left text-muted">‘Artifacts’ are objects big and small that have intrigued me enough to photograph them. It could be that they have ambiguity or are obscure in their interpretation. Or have an intrinsic beauty. Or are made interesting by the play of light that falls on them. Religious iconography has always held my attention because of the idolized visions of sanctity and piety. 
                                                        <div class="contoainer-fluid-img">
                                                            <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                                <figure class="rel">
                                                                    <img src="010Tx.jpg" class="rel">
                                                                </figure>
                                                            </div>
                                                        </div>
                                                        <p class="text-left text-muted">On the other hand, a pristinely painted redundant red water pump was interesting to me precisely because of its uselessness and its bright colour against a drab stone wall. An industrial chimney because of its abstract shapes and a National Steel guitar, well, just because.</p>
                                                                <div class="contoainer-fluid-img">
                                                                    <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <figure class="jack">
                                                                            <img src="011Tx.jpg" class="jack">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                                <p class="text-left text-muted">‘Still Life’ consists of smaller objects and to some degree the ceramic work of my partner and wife Jackie Summerfield <a href="http://www.jsummerfieldceramics.co.uk">www.jsummerfieldceramics.co.uk</a>. Whilst blatantly promoting her work it does illustrate my photography in this area. </p>
                                                                <div class="contoainer-fluid-img">
                                                                    <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <figure class="onion">
                                                                            <img src="012Tx.jpg" class="onion">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                                <p class="text-left text-muted">‘Flora’ is the last group and contains images of my other pastime, growing plants. Fruit, vegetables, and flowers are all grown and are then photographed in an iconic manner, giving the humble onion or parsnip for example the elevated status that they deserve.</p>
                                                                <div class="contoainer-fluid-img"></p>
                                                                    <div class="col-kl-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <figure class="onion">
                                                                            <img src="013Tx.jpg" class="onion">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                                <p class="text-left text-muted">And that’s it, a range of images that have no real relevance in the greater scheme of things but hopefully bring a little amusement, pleasure, and interest to others.</p>
                                                                
                                                </div>
                                                </div>
                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End of container Box -->
                                            </div>
                                            <!-- End of principal content -->
                                        </div>
                                    </div>